# Data pipeline 

## 1.1 Carga de Información

Ya que hemos configurado el manejador de base de datos ahora crearemos la DB, llamemosla `Conekta`, como requerimos de las claves del service account para realizar la conexión no tenemos un gran riesgo de seguridad al dejar explícita la contraseña y el usser.

In [1]:
import psycopg2 # conector a PostgreSQL
import psycopg2.extras # insert en batch 
import pandas as pd # manioulacion de data.frames
import numpy as np # operaciones vectorcizadas en C :D 
import gc # grabage collector para liberar memoria explicitamente

Revisemos cómo vienen los datos crudos en el .csv, observando los primeros y últimos 50 registros.

In [2]:
! wc -l data_prueba_tecnica.csv # para conocer el numero de lineas del dataset original

10001 data_prueba_tecnica.csv

In [3]:
cargos_head = pd.read_csv('data_prueba_tecnica.csv', nrows=50, error_bad_lines=True, warn_bad_lines =True, skip_blank_lines=False)
cargos_tail = pd.read_csv('data_prueba_tecnica.csv', nrows=50, skiprows=9950, header=None, \
                           names=list(cargos_head.columns), error_bad_lines=True, warn_bad_lines =True, skip_blank_lines=False)
cargos = cargos_head.append( cargos_tail)#, ignore_index=True)
cargos.head(100)

,id,name,company_id,amount,status,created_at,paid_at
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,48ba4bdbfb56ceebb32f2bd0263e759be942af3d,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,3.00,voided,2019-03-19,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,05fc6f5ac66b6ee7e4253aa5d0c2299eb47aaaf4,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,3.00,pending_payment,2019-05-06,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,03a95d46ec32a76cd3a5f51cd747aa5db89a537a,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,59.04,pending_payment,2019-04-17,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,abf6097b036eadac9703779cc3b5dc1697afd619,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,68.39,paid,2019-03-16,2019-03-16
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# como ya no requerimos estos dataframes los eliminamos para liberar memoria 
del cargos_head
del cargos_tail
gc.collect()

214

En general los primeros y últimos registros lucen bien con excepción de de las líneas en blanco alternadas con cada registro con información, veamos cómo viene el dataset completo.

## 1.2 Extracción

In [5]:
cargos_row = pd.read_csv('data_prueba_tecnica.csv', error_bad_lines=True, warn_bad_lines =True, skip_blank_lines=True, \
                        encoding = 'utf-8', verbose =True, infer_datetime_format=False)
print(cargos_row.shape)
cargos_row.head(20)

Tokenization took: 27.13 ms
Type conversion took: 11.84 ms
Parser memory cleanup took: 0.01 ms
(10000, 7)

,id,name,company_id,amount,status,created_at,paid_at
0,48ba4bdbfb56ceebb32f2bd0263e759be942af3d,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,3.0,voided,2019-03-19,NaN
1,05fc6f5ac66b6ee7e4253aa5d0c2299eb47aaaf4,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,3.0,pending_payment,2019-05-06,NaN
2,2cdce231c1fc6a2061bfa2f1d978351fe217245d,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,3.0,voided,2019-02-22,NaN
3,81633ba310a50b673efd469c37139576982901aa,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,102.61,paid,2019-02-27,2019-02-27
4,6ccfc4c24e788e4bca448df343698782db6b0c0b,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,184.49,paid,2019-02-05,2019-02-05
5,b25f2ff15c24ea881e676be772f4dd99891ad188,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,85.27,pending_payment,2019-01-04,NaN
6,4f9db76960dcdf6b7e2d7d71b11519e49d7b1179,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,41.0,pre_authorized,2019-05-04,NaN
7,7e96211c7d133a6227e809abc3d3ab18992b36b9,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,3.0,pending_payment,2019-01-23,NaN
8,6ee515d5f0a1995731fb31053278e9700d67947c,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,41.61,voided,2019-05-03,NaN
9,cdf1a7a6f5c9b0db543371f9e4bd127b451c09c9,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,115.84,paid,2019-01-22,2019-01-22
10,5083f2fc28d4c63bcef7184ca4ee6e8527a9e60d,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,3.0,voided,2019-03-02,NaN
11,90820e39fa6aa60555edb6855a6c83e59a9ba271,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,81.33,paid,2019-01-12,2019-01-12
12,315fb708b31d2b98da63db63481550cf01087c75,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,230.27,paid,2019-03-29,2019-03-29
13,796fc616b760b45ebe0dc5cfc0b170d62e9320c2,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,117.88,paid,2019-05-18,2019-05-18
14,221b7af73b7901a32c526553e40a289724dd023a,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,73.76,voided,2019-01-10,NaN
15,8ff04de2a96c9c05df0d9bd87009ba6649f7c424,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,364.46,pending_payment,2019-01-11,NaN
16,78bc9783831c398cbc03b896eb620fcab9375489,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,3.0,pending_payment,2019-02-16,NaN
17,32149975c2b32f5fa50b93a25c91cf067848e65e,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,64.36,paid,2019-04-16,2019-04-16
18,798166c4cd9d464ab5e83b4152cfd191424bb34d,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,166.65,pending_payment,2019-05-10,NaN
19,1a261c012b286d9abcc91c83769dbf91a31f7276,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,42.2,voided,2019-01-03,NaN

Para sorpresa, no hay errores ni warnings en la lectura de los datos crudos.

## 1.3 Transformación

In [6]:
print(cargos_row.describe(include='all'))
print('-------------------')
print(cargos_row.shape)
print(cargos_row.isna().sum()) #number of on.nas

                                              id        name  \
count                                       9997        9997
unique                                      9997           4
top     2dc3d64b620c7825a5755d06f49f9fb0b9b77eac  MiPasajefy
freq                                           1        9899

                                      company_id amount status  created_at  \
count                                       9996  10000  10000       10000
unique                                         3   5771     10         143
top     cbf1c8b09cd5b549416d49d220a40cbd317f952e    3.0   paid  2019-03-01
freq                                        9899   1980   5892         117

           paid_at
count         6009
unique         140
top     2019-02-27
freq            71
-------------------
(10000, 7)
id               3
name             3
company_id       4
amount           0
status           0
created_at       0
paid_at       3991
dtype: int64

De lo anterior es importante notar los siguientes puntos:
- Existen 3 registros con `id` y `name` nulos, al igual que 4 `company_id`.
- El campo `id` parece ser de buena calidad después de arreglar el punto anterior.
- Existen 4 valores para el nombre de compañías diferentes que habrá que validar.
- También en la limpieza tendremos que considerar la distribución de los valores para la columna `amount` y detectar valores atípicos. 

Finalmente validaremos que la fecha de actualización de los registros sea posterior a la fecha de creación del registro.

### Limpieza de nulos

In [7]:
# vamos a seleccionar los registros con nulos para limpiarlos
def Selec_na_index( data ): 
    '''
    Inputs 
     data (pandas data.frame): Solo con las columnas de interes
    Outputs:
     index (numpy array):  Indices de data donde existen nulos 
    '''
    columnas = data.columns
    index =  [ list( data[x].index[ pd.isna( data[x] ) ])  for x in columnas ]
    index = sum( index, []) 
    index.sort()
    return( np.array(index))

Como los registros con `id` nulo contienen información les asignamos uno para no perder esa información __posteriormente revisaremos el porqué estos registros ‘llegarón’ con  `id` nulo en el proceso que genera el archivo .csv para detectar posibles fallas en él.__

In [8]:
index = Selec_na_index( cargos_row[['id', 'name', 'company_id', 'amount', 'status', 'created_at']])
nulos = cargos_row.iloc[index]
index = cargos_row['id'].index[ pd.isna( cargos_row['id'])]
cargos_row['id'][index] = range(0, len(index))

Para limpiar las columnas `name` y `company_id` nos valdremos de la misma información contenida en el dataset, construiremos un catálogo y sustituiremos los  nulos y valores atípicos.

In [9]:
catalogo = cargos_row[['name', 'company_id']].drop_duplicates()
catalogo

                name                                company_id
0         MiPasajefy  cbf1c8b09cd5b549416d49d220a40cbd317f952e
78    Muebles chidos  8f642dc67fccf861548dfe1c761ce22f795e91f0
262       MiPasajefy                                       NaN
603       MiPasajefy                                   *******
731              NaN  cbf1c8b09cd5b549416d49d220a40cbd317f952e
1320     MiPas0xFFFF  cbf1c8b09cd5b549416d49d220a40cbd317f952e
1479       MiP0xFFFF  cbf1c8b09cd5b549416d49d220a40cbd317f952e

El catálogo nos permite ver que estamos en una situación sencilla todos los valores nulos y  anormales para `name` y `company_id` son asociados al valor `MiPasajefy`. Por lo que será sencillo limpiarlos, __sin embargo valdría la pena investigar el pipeline que produce este archivo ya que es curioso que solo se esté presentando para esta compañía.__

In [10]:
index = cargos_row['name'].index[ pd.isna( cargos_row['name'])]
cargos_row['name'][index] = catalogo.name[0]
index = cargos_row['company_id'].index[ pd.isna( cargos_row['company_id'])]
cargos_row['company_id'][index] = catalogo.company_id[0]
cargos_row = cargos_row.replace({'name':  {x : catalogo.name[0] for x in list(set(cargos_row.name)) if x not in ['Muebles chidos', 'MiPasajefy'] } } )
cargos_row = cargos_row.replace({'company_id': { x : catalogo.company_id[0] for x in list(set(cargos_row.company_id))  if x not in ['8f642dc67fccf861548dfe1c761ce22f795e91f0', 'cbf1c8b09cd5b549416d49d220a40cbd317f952e'] } } )

__Dado el schema que se propone en el ejercicio eliminaremos los registros con montos mayores a $10^{15}-1$, los cuales son 3 y están pendientes de pago o anulados.__

In [11]:
cargos_row.amount = pd.to_numeric(cargos_row['amount'],errors='coerce')
index = cargos_row.amount > (10**15 - 1) 
cargos_eliminados = cargos_row.loc[index]
cargos_eliminados

,id,name,company_id,amount,status,created_at,paid_at
1515,37fd630d05e0b4c9c179eea6f88541e27adfbd07,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,2.131231e+18,pending_payment,2019-03-27,NaN
1609,a98245b3f1e8484f2e65f245ef35051822d0f4fb,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,2.132132e+16,pending_payment,2019-05-09,NaN
1896,a07c65559e91a7b08a25f6c7e9f130cdfb727a42,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,3.000000e+34,voided,2019-04-17,NaN

In [12]:
cargos_row = cargos_row.loc[-index]
cargos_row.reset_index()

,index,id,name,company_id,amount,status,created_at,paid_at
0,0,48ba4bdbfb56ceebb32f2bd0263e759be942af3d,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,3.00,voided,2019-03-19,NaN
1,1,05fc6f5ac66b6ee7e4253aa5d0c2299eb47aaaf4,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,3.00,pending_payment,2019-05-06,NaN
2,2,2cdce231c1fc6a2061bfa2f1d978351fe217245d,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,3.00,voided,2019-02-22,NaN
3,3,81633ba310a50b673efd469c37139576982901aa,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,102.61,paid,2019-02-27,2019-02-27
4,4,6ccfc4c24e788e4bca448df343698782db6b0c0b,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,184.49,paid,2019-02-05,2019-02-05
...,...,...,...,...,...,...,...,...
9992,9995,4907c36c037bfa4874047e14f722329016dc3908,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,59.88,paid,2019-03-14,2019-03-14
9993,9996,ef9ec85887418d2ccf220686312cfc4c615665d5,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,23.05,paid,2019-02-20,2019-02-20
9994,9997,50bb3950ecde94ca3e07853003a11a413508da36,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,20.50,paid,2019-03-19,2019-03-19
9995,9998,1b2c4e503a4a952064b70369cf8e72937c720474,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,81.42,paid,2019-03-10,2019-03-10
9996,9999,4e85c4eac968c9465fc8d34bcd4968ac019fa850,MiPasajefy,cbf1c8b09cd5b549416d49d220a40cbd317f952e,33.45,paid,2019-03-16,2019-03-17

### Errores de encoding y validación de fechas 

Notamos que la columna`status` tiene errores de encoding, uno que puede identificarse a simple vista y otro que sustituiremos por un valor ‘Desconocido’, para no perder esta transacción y nuevamente __valdría la pena investigar el proceso que extrae este archivo porque este valor de encoding se presenta en la misma compañía en la que hemos tenido problemas__.

In [13]:
print(set(cargos_row.status))
cargos_row = cargos_row = cargos_row.replace({'status':  { 'p&0x3fid' : 'paid',  '0xFFFF': 'desconocido'}})

{'paid', 'refunded', 'charged_back', 'voided', 'pending_payment', 'p&0x3fid', '0xFFFF', 'expired', 'pre_authorized', 'partially_refunded'}

In [14]:
temp = pd.DataFrame(data= { 'freq': cargos_row['created_at'].value_counts(), 'value': cargos_row['created_at'].value_counts().index })
print(temp)
#pd.to_datetime(temp['value'],format= '%Y-%M-%D' ).dt.time
print(pd.to_datetime(temp['value'], infer_datetime_format=True))# verificamos que el parseo sea correcto

                     freq                value
2019-03-01            117           2019-03-01
2019-03-02            104           2019-03-02
2019-02-28            103           2019-02-28
2019-03-08            103           2019-03-08
2019-02-27            103           2019-02-27
...                   ...                  ...
2019-02-04             35           2019-02-04
2019-05-20              8           2019-05-20
20190516                1             20190516
20190121                1             20190121
2019-02-27T00:00:00     1  2019-02-27T00:00:00

[143 rows x 2 columns]
2019-03-01            2019-03-01
2019-03-02            2019-03-02
2019-02-28            2019-02-28
2019-03-08            2019-03-08
2019-02-27            2019-02-27
                         ...
2019-02-04            2019-02-04
2019-05-20            2019-05-20
20190516              2019-05-16
20190121              2019-01-21
2019-02-27T00:00:00   2019-02-27
Name: value, Length: 143, dtype: datetime64[ns]

In [15]:
# cast de tipo de dato 
cargos_row['created_at'] = pd.to_datetime(cargos_row['created_at'], infer_datetime_format=True)
cargos_row['paid_at'] = pd.to_datetime(cargos_row['paid_at'], infer_datetime_format=True)
# validacion de fecha de pago 
index = -cargos_row['paid_at'].isna() 
temp = cargos_row['paid_at'][index] - cargos_row['created_at'][index]
temp.value_counts()  #ningun valor negativo OK

0 days    5612
1 days     395
3 days       1
2 days       1
dtype: int64

## 1.4 Dispersión de la información

Creación de la DB, las tablas, sus schemas y la relación entre ellas.

In [16]:
def create_tables():
    try:
        conn = psycopg2.connect("host=localhost user=postgres password=conektafou")
    except psycopg2.Error as e: 
        print("Error: No se pudo establecer conexión con la base de datos")
    conn.set_session(autocommit=True)
    cur = conn.cursor()
    try:
        cur.execute("DROP DATABASE IF EXISTS Conekta")
        cur.execute("CREATE DATABASE Conekta WITH ENCODING 'utf8' ")
    except psycopg2.Error as e: 
        print("Error: No se pudo crear la DB")
    try:
        cur.execute("CREATE SCHEMA IF NOT EXISTS  Transaccional AUTHORIZATION postgres ")
    except psycopg2.Error as e: 
        print("Error: No se pudo crear el schema Transaccional")
    try:    
        cur.execute('''CREATE TABLE Transaccional.Companie (
                    id varchar(40) PRIMARY KEY, 
                    company_name varchar(30) NOT NULL ) ''')  
    except psycopg2.Error as e: 
        print("Error: No se pudo crear la tabla Companie")
    
    try:
        cur.execute(''' CREATE TABLE Transaccional.Charge ( 
                                id  varchar(40) PRIMARY KEY, 
                                company_id varchar(40) NOT NULL  REFERENCES Transaccional.Companie(id),
                                amount decimal(16,2) NOT NULL, 
                                status varchar(30) NOT NULL,
                                created_at timestamp NOT NULL, 
                                updated_at timestamp  NULL     )''')
    except psycopg2.Error as e: 
        print("Error: No se pudo crear la tabla Charge")
    conn.close()    
    return(True)

In [17]:
create_tables()

True

In [18]:
charge = cargos_row[['id', 'company_id', 'amount', 'status', 'created_at', 'paid_at']]
charge.columns = ['id', 'company_id', 'amount', 'status', 'created_at', 'updated_at']
companie = cargos_row[['company_id', 'name']]
companie.columns = ['id', 'company_name']
companie = companie.drop_duplicates()
charge.updated_at = charge.updated_at.astype(object).where( charge.updated_at.notnull(), None)
charge

/home/foo/Desktop/GitHub/conekta_test/lib/python3.8/site-packages/pandas/core/generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,id,company_id,amount,status,created_at,updated_at
0,48ba4bdbfb56ceebb32f2bd0263e759be942af3d,cbf1c8b09cd5b549416d49d220a40cbd317f952e,3.00,voided,2019-03-19,None
1,05fc6f5ac66b6ee7e4253aa5d0c2299eb47aaaf4,cbf1c8b09cd5b549416d49d220a40cbd317f952e,3.00,pending_payment,2019-05-06,None
2,2cdce231c1fc6a2061bfa2f1d978351fe217245d,cbf1c8b09cd5b549416d49d220a40cbd317f952e,3.00,voided,2019-02-22,None
3,81633ba310a50b673efd469c37139576982901aa,cbf1c8b09cd5b549416d49d220a40cbd317f952e,102.61,paid,2019-02-27,2019-02-27 00:00:00
4,6ccfc4c24e788e4bca448df343698782db6b0c0b,cbf1c8b09cd5b549416d49d220a40cbd317f952e,184.49,paid,2019-02-05,2019-02-05 00:00:00
...,...,...,...,...,...,...
9995,4907c36c037bfa4874047e14f722329016dc3908,cbf1c8b09cd5b549416d49d220a40cbd317f952e,59.88,paid,2019-03-14,2019-03-14 00:00:00
9996,ef9ec85887418d2ccf220686312cfc4c615665d5,cbf1c8b09cd5b549416d49d220a40cbd317f952e,23.05,paid,2019-02-20,2019-02-20 00:00:00
9997,50bb3950ecde94ca3e07853003a11a413508da36,cbf1c8b09cd5b549416d49d220a40cbd317f952e,20.50,paid,2019-03-19,2019-03-19 00:00:00
9998,1b2c4e503a4a952064b70369cf8e72937c720474,cbf1c8b09cd5b549416d49d220a40cbd317f952e,81.42,paid,2019-03-10,2019-03-10 00:00:00
9999,4e85c4eac968c9465fc8d34bcd4968ac019fa850,cbf1c8b09cd5b549416d49d220a40cbd317f952e,33.45,paid,2019-03-16,2019-03-17 00:00:00

In [19]:
def insert_batch(df, table, page_size=100):
    try:
        conn = psycopg2.connect("host=localhost user=postgres password=conektafou")
    except psycopg2.Error as e: 
        print("Error: No se pudo establecer conexión con la base de datos")
    conn.set_session(autocommit=True)

    tuples = [tuple(x) for x in df.to_numpy()]
    # Comma-separated dataframe columns
    cols = ','.join(list(df.columns))
    if( len(df.columns) == 2):
        query = "INSERT INTO %s(%s) VALUES(%%s,%%s)" % (table, cols)
    if( len(df.columns) == 6):
        query = "INSERT INTO %s(%s) VALUES(%%s,%%s,%%s,%%s,%%s,%%s)" % (table, cols)
    print(query)
    cursor = conn.cursor()
    try:
        psycopg2.extras.execute_batch(cursor, query, tuples, page_size)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    conn.close()
    print("execute_batch() done")

In [20]:
insert_batch(  companie, 'Transaccional.Companie')
insert_batch(  charge, 'Transaccional.Charge')

INSERT INTO Transaccional.Companie(id,company_name) VALUES(%s,%s)
execute_batch() done
INSERT INTO Transaccional.Charge(id,company_id,amount,status,created_at,updated_at) VALUES(%s,%s,%s,%s,%s,%s)
execute_batch() done

## 1.5 SQL

In [21]:
try:
    conn = psycopg2.connect("host=localhost user=postgres password=conektafou")
except psycopg2.Error as e:
    print("Error: No se pudo establecer conexión con la base de datos")
conn.set_session(autocommit=True)
cur = conn.cursor()
try:
    cur.execute('''CREATE VIEW Transaccional.trans_comp_day AS 
        SELECT com.company_name, sum(cha.amount)  as amount_day
        FROM Transaccional.Companie  as com 
        INNER JOIN Transaccional.Charge as cha 
        ON com.id = cha.company_id
        GROUP BY com.company_name, cha.created_at 
        ORDER BY com.company_name, cha.created_at
        ''')
except psycopg2.Error as e:
    print("Error: No se pudo establecer conexión con la vista")

In [22]:
cur.execute('''SELECT * FROM Transaccional.trans_comp_day  ''')
for i in cur.fetchall():
    print(i)
conn.close()

('MiPasajefy', Decimal('4150.04'))
('MiPasajefy', Decimal('17044.92'))
('MiPasajefy', Decimal('6735.66'))
('MiPasajefy', Decimal('6349.69'))
('MiPasajefy', Decimal('5184.97'))
('MiPasajefy', Decimal('4005.46'))
('MiPasajefy', Decimal('26754.30'))
('MiPasajefy', Decimal('5963.77'))
('MiPasajefy', Decimal('5859.00'))
('MiPasajefy', Decimal('9040.75'))
('MiPasajefy', Decimal('8646.82'))
('MiPasajefy', Decimal('6456.20'))
('MiPasajefy', Decimal('23541.02'))
('MiPasajefy', Decimal('3884.07'))
('MiPasajefy', Decimal('6770.77'))
('MiPasajefy', Decimal('16372.74'))
('MiPasajefy', Decimal('7058.25'))
('MiPasajefy', Decimal('5218.34'))
('MiPasajefy', Decimal('5225.46'))
('MiPasajefy', Decimal('11928.39'))
('MiPasajefy', Decimal('4250.08'))
('MiPasajefy', Decimal('3650.23'))
('MiPasajefy', Decimal('4882.16'))
('MiPasajefy', Decimal('6264.40'))
('MiPasajefy', Decimal('7717.01'))
('MiPasajefy', Decimal('3815.99'))
('MiPasajefy', Decimal('3181.81'))
('MiPasajefy', Decimal('3992.72'))
('MiPasajefy', Decimal('3813.49'))
('MiPasajefy', Decimal('6070.39'))
('MiPasajefy', Decimal('12046.01'))
('MiPasajefy', Decimal('30462.75'))
('MiPasajefy', Decimal('11379.42'))
('MiPasajefy', Decimal('3378.15'))
('MiPasajefy', Decimal('11504.24'))
('MiPasajefy', Decimal('64287.58'))
('MiPasajefy', Decimal('23992.03'))
('MiPasajefy', Decimal('4747.50'))
('MiPasajefy', Decimal('21312318779.34'))
('MiPasajefy', Decimal('3143.82'))
('MiPasajefy', Decimal('7232.52'))
('MiPasajefy', Decimal('NaN'))
('MiPasajefy', Decimal('5689.62'))
('MiPasajefy', Decimal('7253.76'))
('MiPasajefy', Decimal('7596.14'))
('MiPasajefy', Decimal('7895.90'))
('MiPasajefy', Decimal('5443.40'))
('MiPasajefy', Decimal('7621.24'))
('MiPasajefy', Decimal('4629.34'))
('MiPasajefy', Decimal('6890.84'))
('MiPasajefy', Decimal('8734.27'))
('MiPasajefy', Decimal('6339.35'))
('MiPasajefy', Decimal('8194.43'))
('MiPasajefy', Decimal('6436.20'))
('MiPasajefy', Decimal('6196.91'))
('MiPasajefy', Decimal('5345.52'))
('MiPasajefy', Decimal('5577.60'))
('MiPasajefy', Decimal('8496.98'))
('MiPasajefy', Decimal('7457.03'))
('MiPasajefy', Decimal('44466.58'))
('MiPasajefy', Decimal('22584.39'))
('MiPasajefy', Decimal('4042.40'))
('MiPasajefy', Decimal('5739.03'))
('MiPasajefy', Decimal('56161.46'))
('MiPasajefy', Decimal('8999.90'))
('MiPasajefy', Decimal('7357.27'))
('MiPasajefy', Decimal('7679.82'))
('MiPasajefy', Decimal('7858.89'))
('MiPasajefy', Decimal('4284.61'))
('MiPasajefy', Decimal('5575.11'))
('MiPasajefy', Decimal('4237.14'))
('MiPasajefy', Decimal('5070.42'))
('MiPasajefy', Decimal('6779.37'))
('MiPasajefy', Decimal('6252.16'))
('MiPasajefy', Decimal('7634.38'))
('MiPasajefy', Decimal('7092.73'))
('MiPasajefy', Decimal('4050.64'))
('MiPasajefy', Decimal('4968.81'))
('MiPasajefy', Decimal('5439.26'))
('MiPasajefy', Decimal('17121.73'))
('MiPasajefy', Decimal('7654.85'))
('MiPasajefy', Decimal('5311.47'))
('MiPasajefy', Decimal('4153.06'))
('MiPasajefy', Decimal('5696.35'))
('MiPasajefy', Decimal('5703.31'))
('MiPasajefy', Decimal('6182.32'))
('MiPasajefy', Decimal('6154.82'))
('MiPasajefy', Decimal('7119.94'))
('MiPasajefy', Decimal('4929.45'))
('MiPasajefy', Decimal('4510.19'))
('MiPasajefy', Decimal('72012.22'))
('MiPasajefy', Decimal('57728.89'))
('MiPasajefy', Decimal('8820.54'))
('MiPasajefy', Decimal('8223.58'))
('MiPasajefy', Decimal('6845.22'))
('MiPasajefy', Decimal('25111.57'))
('MiPasajefy', Decimal('4817.24'))
('MiPasajefy', Decimal('23556.05'))
('MiPasajefy', Decimal('6282.19'))
('MiPasajefy', Decimal('4726.90'))
('MiPasajefy', Decimal('8038.59'))
('MiPasajefy', Decimal('8196.95'))
('MiPasajefy', Decimal('4542.59'))
('MiPasajefy', Decimal('4579.12'))
('MiPasajefy', Decimal('5558.75'))
('MiPasajefy', Decimal('20817.40'))
('MiPasajefy', Decimal('5909.26'))
('MiPasajefy', Decimal('3673.94'))
('MiPasajefy', Decimal('2562.41'))
('MiPasajefy', Decimal('2826.56'))
('MiPasajefy', Decimal('3066.18'))
('MiPasajefy', Decimal('4124.85'))
('MiPasajefy', Decimal('3697.81'))
('MiPasajefy', Decimal('4852.77'))
('MiPasajefy', Decimal('5572.99'))
('MiPasajefy', Decimal('13828.33'))
('MiPasajefy', Decimal('4502.83'))
('MiPasajefy', Decimal('2807.61'))
('MiPasajefy', Decimal('4394.71'))
('MiPasajefy', Decimal('7103.17'))
('MiPasajefy', Decimal('15867.75'))
('MiPasajefy', Decimal('46224.82'))
('MiPasajefy', Decimal('11414.64'))
('MiPasajefy', Decimal('5068.12'))
('MiPasajefy', Decimal('3112.96'))
('MiPasajefy', Decimal('44618.73'))
('MiPasajefy', Decimal('5230.69'))
('MiPasajefy', Decimal('6130.01'))
('MiPasajefy', Decimal('6079.21'))
('MiPasajefy', Decimal('4342.51'))
('MiPasajefy', Decimal('3581.35'))
('MiPasajefy', Decimal('2945.59'))
('MiPasajefy', Decimal('4541.87'))
('MiPasajefy', Decimal('6425.50'))
('MiPasajefy', Decimal('5213.96'))
('MiPasajefy', Decimal('9361.46'))
('MiPasajefy', Decimal('8143.40'))
('MiPasajefy', Decimal('6148.64'))
('MiPasajefy', Decimal('5554.00'))
('MiPasajefy', Decimal('633.54'))
('Muebles chidos', Decimal('3199.00'))
('Muebles chidos', Decimal('399.00'))
('Muebles chidos', Decimal('8197.00'))
('Muebles chidos', Decimal('669.00'))
('Muebles chidos', Decimal('9998.00'))
('Muebles chidos', Decimal('19592.00'))
('Muebles chidos', Decimal('7999.00'))
('Muebles chidos', Decimal('13828.00'))
('Muebles chidos', Decimal('44311.00'))
('Muebles chidos', Decimal('9999.00'))
('Muebles chidos', Decimal('6999.00'))
('Muebles chidos', Decimal('10169.00'))
('Muebles chidos', Decimal('3743.10'))
('Muebles chidos', Decimal('15760.00'))
('Muebles chidos', Decimal('6748.00'))
('Muebles chidos', Decimal('4488.00'))
('Muebles chidos', Decimal('8546.00'))
('Muebles chidos', Decimal('61558.10'))
('Muebles chidos', Decimal('1859.00'))
('Muebles chidos', Decimal('31542.00'))
('Muebles chidos', Decimal('26694.00'))
('Muebles chidos', Decimal('10997.00'))
('Muebles chidos', Decimal('1598.00'))
('Muebles chidos', Decimal('3068.00'))
('Muebles chidos', Decimal('52239.00'))
('Muebles chidos', Decimal('22221.15'))
('Muebles chidos', Decimal('12132.00'))
('Muebles chidos', Decimal('11416.05'))
('Muebles chidos', Decimal('15088.00'))
('Muebles chidos', Decimal('7698.00'))
('Muebles chidos', Decimal('13495.20'))
('Muebles chidos', Decimal('110839.00'))
('Muebles chidos', Decimal('7699.00'))
('Muebles chidos', Decimal('14957.00'))
('Muebles chidos', Decimal('6999.00'))
('Muebles chidos', Decimal('7898.00'))
('Muebles chidos', Decimal('7638.40'))
('Muebles chidos', Decimal('15489.00'))
('Muebles chidos', Decimal('22818.00'))
('Muebles chidos', Decimal('5999.00'))
('Muebles chidos', Decimal('11969.00'))
('Muebles chidos', Decimal('7999.00'))
('Muebles chidos', Decimal('14999.00'))
('Muebles chidos', Decimal('7999.00'))
('Muebles chidos', Decimal('42243.00'))
('Muebles chidos', Decimal('14626.20'))
('Muebles chidos', Decimal('63863.00'))
('Muebles chidos', Decimal('24792.15'))
('Muebles chidos', Decimal('25831.80'))
('Muebles chidos', Decimal('7716.00'))
('Muebles chidos', Decimal('40972.00'))
('Muebles chidos', Decimal('12273.05'))
('Muebles chidos', Decimal('6617.00'))
('Muebles chidos', Decimal('10568.00'))
('Muebles chidos', Decimal('11749.00'))
('Muebles chidos', Decimal('2849.05'))
('Muebles chidos', Decimal('10438.00'))
('Muebles chidos', Decimal('12188.10'))
('Muebles chidos', Decimal('39.00'))
('Muebles chidos', Decimal('7199.10'))
('Muebles chidos', Decimal('3534.00'))
('Muebles chidos', Decimal('519.00'))
('Muebles chidos', Decimal('6248.00'))
('Muebles chidos', Decimal('2199.00'))
('Muebles chidos', Decimal('8099.10'))
('Muebles chidos', Decimal('35116.00'))

### Diagrama entidad relación 

![Conekta Schema Transaccional](DERConekta.png)